<!DOCTYPE html>
<html>
  <head>
    <title>FinalCodeReview</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">Haley Swain</a>
       <% if user_signed_in? %>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           Logged in as <%= current_user.email %>
           <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
           <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete %></li>
           <% if current_user.admin == true %>
             <li><%= link_to "Admin", rails_admin_path %></li>
            <% end %>
          <% end %>
        </ul>
       <% else %>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><%= link_to 'Sign Up', new_user_registration_path %></li>
           <li><%= link_to 'Login', new_user_session_path %></li>
         </ul>
     </div>
   </nav>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
  <body>
    <%= yield %>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Lets Get in Touch!</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Profiles</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/haleyswain/"><img src="https://img.clipartfest.com/3b699171bf127b4583f94e6b88e9536f_read-our-linkedin-handout-for-linkedin-clipart-transparent-background_1000-1000.png" id="linkedin"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/haleyswain"><a href="https://github.com/haleyswain"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" id="github"></a></li>
                  <li><p class="grey-text text-lighten-3">Email: haleyswain@gmail.com</p></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
  </body>
</html>
